// Common
$main-top-margin: 6em;
$main-bottom-margin: 5em;
$main-margin: $main-top-margin + $main-bottom-margin;

$tab-pane-margin: 1.5em;

$gray-color: #6c757d;

// Footer
$footer-margin: 1em;

// Navbar
$brand-font-size: 2em;
$navbar-fontawesome-font-size: 1.5em;

// Welcome
$welcome-left-font-size: 4em;

// Upload
$filters-paragraphs-margin: 0.6em;
$new-photo-buttons-bottom: 0.5em;

// User
$avatar-username-margin: 0.5em;
